<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client?hl=fr" async></script>
</head>
<body>
<h1>Finance Reports</h1>
<br />
<br />
<div style="margin-top: 20px;">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Invoice Id</th>
        <th scope="col">Invoice Status</th>
        <th scope="col">Invoice</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${invoiceList}">
        <td th:text="${invoice.getCustomer().getName()}"></td>
        <td th:text="${invoice.getCustomer().getStripeAccountId()}"></td>
        <td th:text="${invoice.getInvoiceId()}"></td>
        <td th:text="${invoice.getStatus()}"></td>
        <td><a th:href="${invoice.getInvoiceUrl()}" class="btn btn-secondary">Invoice</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
